/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2017, 1:07:17 PM
    Author     : artem
*/

tr:not(:nth-child(1)){
    cursor: pointer;
}
tr:hover:not(:nth-child(1)){
    background-color: green;
}
#wallet_button, #notification_button, #logout_button{
    cursor: pointer;
}